/.vscode
/runtimes/win-x64/
/MediaInfo/obj/
/MediaInfo/bin/
/obj
/bin
/MediaInfo/.vs
/MediaInfo/runtimes/win-x64/native/MediaInfo.dll
/MediaInfo/runtimes/win-arm64/native/developers
/MediaInfo/runtimes/win-arm64/native/MediaInfo.dll


